<div class="card">
  <img src="https://media.istockphoto.com/id/1338011657/photo/the-word-blog-arranged-from-wooden-blocks-placed-on-a-white-computer-keyboard.jpg?b=1&s=170667a&w=0&k=20&c=MC6h9IhzFiWTFDOgeD1hsQQM5OJId6SWwVO8K7Fup-8=" alt="">
  <div class="card-body">
    <small class="p-2 bg-light text-danger text-center ml-6"> Design </small>
    <small class="p-2 bg-light text-success text-center ml-3"> Featured </small>
    <small class="p-2 bg-light text-info text-center mr-8"> Views - 100,250 </small>
    <h5 class="mt-2"> HOW TO START A BLOG IN 2023</h5>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, saepe repellendus. Quas laboriosam soluta officia quae eaque consequatur, similique culpa neque saepe architecto voluptatum error impedit iure debitis ducimus velit. </p>
    <small class="bg-light text-warning text-center ml-3"> Last Updated - Sept. 20, 2022 </small>
  </div>
</div>
